<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Startmin - Bootstrap Admin Theme</title>

<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link th:href="@{/css/metisMenu.min.css}"
	href="../../css/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link th:href="@{/css/startmin.css}" href="../../css/startmin.css"
	rel="stylesheet">

<!-- Custom Fonts -->
<link th:href="@{/css/font-awesome.min.css}"
	href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css">

<style type="text/css">
.logo {
	margin: 70px;
	margin-left: 35%;
	height: 300px;
	width: 300px;
}

.search {
	display: flex;
}

.search1 {
	margin-right: 40%;
}
</style>
</head>
<body>

	<div id="wrapper">

		  <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/admin/info?message}">Admin</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a th:href="@{/admin/info?message}"><i class="fa fa-home fa-fw"></i>Trang chủ</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
            
                    <li th:insert="admin/part/loginInfo"></li>
                </ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<div th:insert="admin/part/sidebar"></div>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
                <!-- /.navbar-static-side -->
            </nav>

		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Tài khoản</h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">Danh sách tài khoản</div>
							<div class="panel-heading">

								<div class="search">
									<div class="search1">
										<form th:action="@{/admin/search/account}" method="GET">
											<tr>
											
												<td style="display:inline-block;"><input type="text" class="form-control" value="" name="name"
													placeholder="Tên tài khoản" title="nhập tên tìm kiếm"
													maxlength="200" ></td>
												<br/>
												<td style="display:inline-block;"><input type="submit" value="Tìm kiếm" class="btn btn-primary"></td>
											</tr>
										</form>

									</div>

									
								</div>


							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover"
										id="dataTables-example">
										<thead>
											<tr>
												<th>STT</th>
												<th>Tên tài khoản</th>
												<th>Mật khẩu</th>
												<th>Quyền</th>
												<th>Tên nhân viên</th>
	
												<th>Thao tác</th>

											</tr>
										</thead>
										<div th:if="${accounts}">
											<tbody th:each="account,state : ${accounts}">

												<tr class="gradeU">
													<td th:text="${state.index}+1"></td>
													<td th:text="${account.userName}"></td>
													<td th:text="${account.password}"></td>
													<td th:text="${account.role}"></td>
													<td th:text="${account.accountant.name}"></td>
													
													<td>
													<div th:if="${account.status}">
														<a  th:href=@{/admin/account/delete(id=${account.id})}>
															<button class="btn btn-primary pull-center">Vô hiệu hóa</button></a>
													</div>
														
													<div th:unless="${account.status}">
													<a  th:href=@{/admin/account/kh(id=${account.id})}>
															<button class="btn btn-danger pull-center">kích hoạt lại</button></a>
													</div>
													</td>
													
												</tr>
											</tbody>
										</div>

									</table>
									<table class="table table-striped table-bordered table-hover"
										id="dataTables-example">
										<a  th:href=@{/admin/create/account}>
															<button class="btn btn-primary pull-center">tạo tài khoản</button></a>
									</table>
								</div>

							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
			</div>

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/js/metisMenu.min.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:src="@{/js/startmin.js}"></script>

</body>
</html>

