<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link th:href="@{/css/metisMenu.min.css}" href="../../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link th:href="@{/css/startmin.css}" href="../../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css">

    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/admin/info?message}">Admin</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a th:href="@{/admin/info?message}"><i class="fa fa-home fa-fw"></i>Trang chủ</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
            
                    <li th:insert="/admin/part/loginInfo"></li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <div th:insert="/admin/part/sidebar"></div>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
	
            <!-- Page Content -->
            <div id="page-wrapper">
            	
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Thông tin cá nhân</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
                <div class="card-body" >
				<i th:text="${message}" style="color:red;"></i>
				<div class="row">
					
					<div class="col-md-3">
						<div class="form-group">
							<label class="bmd-label-floating">Tên tài khoản</label> <input
								type="text" th:value="${username}" class="form-control" disabled>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="bmd-label-floating">Mật khẩu</label> <input
								type="email" class="form-control" value="***********" disabled>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label class="bmd-label-floating"></label> <a th:href="@{/admin/change?message}"><button
								type="submit" class="btn btn-primary pull-center">Đổi
								mật khẩu</button></a>
					</div>
				</div>
				<br />
				<br />
				<br />
				<br />
				<form th:action="@{/admin/info}" th:object="${accountant}" method="POST">
					<input type="hidden" name="id" th:field="*{id}">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="bmd-label-floating">Họ và tên</label> 
								<input type="text" class="form-control" th:field="*{name}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="bmd-label-floating">Ngày sinh</label> <input
									type="date" class="form-control" th:field="*{birthday}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Địa chỉ</label> <input
									type="text" class="form-control" th:field="*{address}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Số điện thoại</label> <input
									type="text" class="form-control" th:field="*{phoneNumber}">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary pull-right" onclick="alertSuccess()">Thay đổi</button>
					<div class="clearfix"></div>
				</form>
			</div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
	
		<script>
			function alertSuccess() {
			  alert("Cập nhật thông tin thành công");
			}
		</script>
		
        <!-- jQuery -->
        <script th:src="@{/js/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script th:src="@{/js/metisMenu.min.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{/js/startmin.js}"></script>

    </body>
</html>
