<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link th:href="@{/css/metisMenu.min.css}" href="../../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link th:href="@{/css/startmin.css}" href="../../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
		
		<style type="text/css">
 			.logo{
 				margin:70px;
 				margin-left: 35%;
 				height: 300px;
 				width: 300px;
 			}
		</style>
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">Accounting</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a th:href="@{/}"><i class="fa fa-home fa-fw"></i> Trang chủ</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                   
                    <li th:insert="part/loginInfo"></li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <div th:insert="part/sidebar"></div>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header" >Kho hàng</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Danh sách mặt hàng trong kho
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá nhập</th>
                                                    <th>Giá bán</th>
                                                    <th>Mặt hàng</th>
                                                    <th>Nhà cung cấp</th>
                                                    <th>Ngày cập nhật</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <div th:if="${listStore}">
	                                            <tbody th:each="store,state : ${listStore}">
	                                                
	                                                <tr class="gradeU">
	                                                    <td th:text="${state.index}+1"></td>
	                                                    <td th:text="${store.product.name}"></td>
	                                                    <td th:text="${store.amount}"></td>
	                                                    <td th:text="${#numbers.formatDecimal(store.product.importPrice, 0, 'COMMA', 0, 'POINT')}"></td>
	                                                    <td th:text="${#numbers.formatDecimal(store.product.salePrice, 0, 'COMMA', 0, 'POINT')}"></td>
	                                                    <td th:text="${store.product.category.name}"></td>
	                                                    <td th:text="${store.product.supplier.name}"></td>
	                                                    <td th:text="${#dates.format(store.createDate, 'dd-MM-yyyy')}"></td>
														<td>
															<a th:href=@{/store/edit(id=${store.id})}>
																<button class="btn btn-primary pull-center">Sửa</button>
															</a>
														</td>
											</tr>
	                                            </tbody>
                                            </div>
                                            
                                        </table>
                                    </div>
                                    
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script th:src="@{/js/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script th:src="@{/js/metisMenu.min.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{/js/startmin.js}"></script>

    </body>
</html>
