<ul class="nav" id="side-menu">
                        	<li>
                        		<a th:href="@{/admin/info?message}"><i class="fa fa-info-circle fa-fw"></i>Thông tin cá nhân</a>
                        	</li>
                        	 <li>
                        		<a th:href="@{/admin/display/account}"><i class="fa fa-user fa-fw"></i>Thêm tài khoản</a>
                        	</li>
                            <li>
                                <a th:href="@{/admin/product}"><i class="fa fa-home fa-fw"></i>Hàng hóa</a>
                            
                                <!-- /.nav-second-level -->
                            </li>
                            
                            <li>
                        		<a th:href="@{/info?message}"><i class="fa fa-users fa-fw"></i>Thêm nhân viên</a>
                        	</li>
                        	
                        	 <li>
                        		<a th:href="@{/admin/tax}"><i class="fa fa-usd fa-fw"></i>Quản lý thuế</a>
                        	</li>
                 
                           	
                           
</ul>