<ul class="nav" id="side-menu">
                        	<li>
                        		<a th:href="@{/admin/info?message}"><i class="fa fa-info-circle fa-fw"></i>Thông tin cá nhân</a>
                        	</li>
                        	 <li>
                        		<a th:href="@{/admin/display/account}"><i class="fa fa-user fa-fw"></i>Thêm tài khoản</a>
                        	</li>
                            <li>
                                <a th:href="@{/admin/product}"><i class="fa fa-home fa-fw"></i>Hàng hóa</a>
                            
                                <!-- /.nav-second-level -->
                            </li>
                            
                            <li>
                        		<a th:href="@{/admin/staff}"><i class="fa fa-users fa-fw"></i>Thêm nhân viên</a>
                        	</li>
                     
                 			<li>
                            	<a th:href="@{/admin/report}"><i class="fa fa-wpforms fa-fw"></i>Báo cáo</a>  
                            </li>
                           	<li>
                           		<a th:href="@{/admin/chart}"><i class="fa fa-bar-chart fa-fw"></i>Biểu đồ doanh thu theo sản phẩm</a>  
                           	</li>
                           
</ul>