<ul class="nav" id="side-menu">
                        	<li>
                        		<a th:href="@{/info?message}"><i class="fa fa-info-circle fa-fw"></i>Thông tin cá nhân</a>
                        	</li>
                            <li>
                                <a th:href="@{/store}"><i class="fa fa-home fa-fw"></i>Kho hàng</a>
                            </li>
                            
                            <li>
                                <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                            </li>
                            <li>
                            	<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Kết quả kinh doanh<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/}">Lợi nhuận</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/expense}">Chi phí phát sinh</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Lương<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/salary}">Trả lương</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/salary/hispay}">Lịch sử trả lương</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            
                            <li class="active">
                                <a><i class="fa fa-files-o fa-fw"></i> Hóa đơn<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/receipt}">Hóa đơn nhập</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/showbill}">Hóa đơn xuất</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
</ul>