<ul class="nav" id="side-menu">
                        	<li>
                        		<a th:href="@{/info?message}"><i class="fa fa-info-circle fa-fw"></i>Thông tin cá nhân</a>
                        	</li>
                            <li>
                                <a th:href="@{/store}"><i class="fa fa-home fa-fw"></i>Kho hàng</a>
                            </li>
                            <li>
                                <a><i class="fa fa-files-o fa-fw"></i>Hóa đơn<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/receipt}">Hóa đơn nhập</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/showbill}">Hóa đơn xuất</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                            	<a href="#"><i class="fa fa-shopping-cart fa-fw"></i>Yêu cầu mua hàng<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/orders/create/form}">Thêm yêu cầu</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/orders}">Danh sách yêu cầu</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-money fa-fw"></i> Lương<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/salary}">Trả lương</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/salary/hispay}">Lịch sử trả lương</a>
                                    </li>
                                </ul>
                        
                            </li>
							
                            <li>
                            	<a href="#"><i class="fa fa-usd fa-fw"></i>Thuế<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/tax/tncn}">Thuế thu nhập cá nhân</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/tax/vat}">Thuế giá trị gia tăng</a>
                                    </li>
                                </ul>
                            </li>
                             <li>
                            	<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Kết quả kinh doanh<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a th:href="@{/reve}">Lợi nhuận</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/income}">Doanh thu</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/expense}">Chi phí phát sinh</a>
                                    </li>
                                </ul>
                            </li>
                            
</ul>