
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link th:href="@{/css/metisMenu.min.css}" href="../../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link th:href="@{/css/startmin.css}" href="../../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- jQuery -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/highcharts.js}"></script>
        
    </head>
    <body>
		
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/admin/info?message}">Admin</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a th:href="@{/admin/info?message}"><i class="fa fa-home fa-fw"></i>Trang chủ</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
            
                    <li th:insert="admin/part/loginInfo"></li>
                </ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<div th:insert="admin/part/sidebar"></div>
				</div>
				<!-- /.sidebar-collapse -->
			</div> /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
			
            <!-- Page Content -->
            <div id="page-wrapper">
            	
                <div class="container-fluid">
                	
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Biểu đồ thống kê doanh thu theo sản phẩm trong tháng</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                		<div class="col-lg-12">
                			<tr>
											
								<label class="bmd-label-floating">Tháng</label>
								<td><input type="text" value="" id="month">
								</td>
								<label class="bmd-label-floating">Năm</label>
								<td><input type="text" value="" id="year">
								</td>
								<td><input  value="Xem" class="btn btn-primary" id="submit"></td>
							</tr>
					
                		</div>
                	</div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
                <div class="card-body" >
                	 <div id="container"> </div>
                	 
                	 <div id="piechart"></div>
				</div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

       
	
	
	<script>
	$('#submit').click(function(){
		var month=$('#month').val();
		var year=$('#year').val();
		var url="/api/chart?month="+month+"&year="+year;
		var title="<b>Doanh thu bán hàng tháng "+month+" năm "+year+"<b/>";
		
		$.ajax({
			url: url,
			type: 'GET',
			dataType: 'json',
			
		})
		.done(function(data) {
			var pie=data.pieList;
			var datas=[];
			for(var i=0;i<pie.length;i++){
				var object={};
				object.name=pie[i].name;
				object.y=pie[i].percent;
				datas.push(object);
			}
			Highcharts.chart('container',{
				title:{
					text:title
				},
				xAxis:{
					categories:data.products
				},
				series:[{
					name:'Tiền',
					data:data.moneys,
					type:'column'
				}]
			});
			
			console.log(pie);
			Highcharts.chart('piechart', {
			    chart: {
			        type: 'pie',
			        options3d: {
			            enabled: true,
			            alpha: 45,
			            beta: 0
			        }
			    },
			    title: {
			       text: "<b>Tỉ lệ doanh thu theo hàng hóa tháng "+month+ " năm "+ year+"</b>"
			    },
			    accessibility: {
			        point: {
			            valueSuffix: '%'
			        }
			    },
			    tooltip: {
			        pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
			    },
			    plotOptions: {
			        pie: {
			            allowPointSelect: true,
			            cursor: 'pointer',
			            depth: 35,
			            dataLabels: {
			                enabled: true,
			                format: '<b>{point.name}<b>:{point.y}%'
			            }
			        }
			    },
			    series: [{
			        type: 'pie',
			        name: 'Browser share',
			        data: datas
			    }]
			});
			console.log(data);
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
		
		
	});	
	
	
	
	
	</script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script th:src="@{/js/metisMenu.min.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{/js/startmin.js}"></script>

    </body>
</html>
